.btn {
  padding: 6px 16px;
  border: none;
  border-radius: 4px;
  min-width: 80px;
  text-transform: uppercase;
  cursor: pointer;

  &-success {
    background: $success;
    color: white;
    &:hover{
      background: transparentize($success, 0.2);
    }
  }

  &-primary {
    background: $primary;
    color: white;
    &:hover{
      background: transparentize($primary, 0.2);
    }
  }
}