.container {
  width: 100%;
  height: 100%;
  @include flex-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  background: rgba(255, 255, 255, .1);

  .container-content-wrapper {
    @include flex-box;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-left: 100px;

    .container-content {
      @include flex-box;
      flex-direction: row;
      flex: 1;
    }
  }

}