.navbar {
  background: $black-primary;
  height: 64px;
  padding: 15px;
  //position: fixed;
  //top: 0;
  //left: 0;
  //right: 0;
  z-index: 9999;
  @include box-shadow(0, 3px, 3px, 0, rgba(0, 0, 0, 0.25));
  font-size: 14px;
  font-weight: 100;
  ul {
    @include flex-box;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;

    li {
      a {
        text-decoration: none;
        display: block;
        padding: 10px 15px;
        color: white;
      }
    }
  }
}