.page-second {
  flex: 1;
  background: $black-secondary;
  @include flex-box;
  flex-direction: column;

  .nitro-box-preview {
    text-align: center;
    flex: 2;
    background: url('../img/bg_01.png') no-repeat;
    background-size: cover;
    padding: 20px;
    .btn {
      margin-top: 20px;
    }
  }
  .weapons-container-wrapper {
    height: 100px;
    background: $black-primary;
    @include box-shadow(0, 3px, 3px, 0, rgba(0, 0, 0, 0.25));
    .weapons-container {
      @include flex-box;
      flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
      align-items: stretch;

      .weapon-block {
        flex: none;
        width: 100px;
        height: 100px;
        img {
          width: 50%;
          height: 50%;
          margin: 10px 0;
        }
      }
    }

  }
  .nitro-box-container {
    flex: 2;
    color: white;
    .title {
      text-align: center;
      margin: 10px 0;
    }
    .nitro-box-list {
      @include flex-box;
      flex-wrap: nowrap;
      cursor: pointer;
      justify-content: center;
      .nitro-box {
        .image {
          display: block;
        }
        .details {
          display: block;
          text-align: center;
          p {
            font-size: 13px;
          }
        }
      }
    }
  }
}