.sidebar-left {
  background: $black-primary;
  position: fixed;
  top: 64px;
  left: 0;
  bottom: 0;
  z-index: 9998;
  overflow: hidden;
  width: 100px;
  @include box-shadow(3px, 0, 3px, 1px, rgba(0, 0, 0, 0.25));
  @include flex-box;
  flex-direction: column;

  .weapon-block {
    border-bottom: 1px solid $black-primary;
    padding: 10px;
    width: 100px;
    height: 100px;
    img {
      width: 50%;
      height: 50%;
    }
  }
}