.sidebar-right {
  @include flex-box;
  flex-direction: column;
  @include box-shadow(-3px, 0, 3px, 1px, rgba(0, 0, 0, 0.25));

  //position: fixed;
  //top: 62px;
  //bottom: 0;
  //right: 0;
  //z-index: 9998;
  width: 340px;
  color: white;

  .header {
    height: 50px;
    background: $black-secondary;
    padding: 0 10px;
    color: #dedede;
    line-height: 50px;

    i {
      position: absolute;
      left: 20px;
      top: 15px;
      cursor: pointer;
    }
    p {
      text-align: center;
      font-size: 13px;
      font-weight: 100;
    }
  }

  .backpack-container {
    @include flex-box;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
    align-content: flex-start;
    background: $backpack-bg;
    padding: 10px;
    .weapon-block {
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
      img{
        width: 36%;
        height: 36%;
      }
    }
  }

  .footer {
    height: 100px;
    background: $black-secondary;
    padding: 20px 15px;
    text-align: center;
    .value {
      p {
        font-weight: 400;
        font-size: 13px;
        .badge {
          background: $backpack-bg;
          border-radius: 4px;
          padding: 5px 10px;
          margin-left: 10px;
        }
      }
    }
    .button-group {
      margin: 20px auto;
      .btn {
        min-width: 120px;
        margin: 0 4px;
      }
    }
  }
}