.weapon-block {
  flex: none;
  background: $black-secondary;
  width: 70px;
  height: 70px;
  border-left: 1px solid;
  border-color: $success;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 100;
  color: $text-color-secondary;

  .price-info {
    height: 22px;
    padding: 5px 4px;
    //margin-bottom: 6px;
    padding: 5px;
    background: $black-primary;

    .info {
      float: left;
    }
    .price {
      float: right;
    }
  }

  img {
    width: 60%;
    height: 60%;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .title {
    background: $black-primary;
    padding: 5px;
    color: #fff;
    text-align: left;
    font-size: 10px;

  }

  &:hover {
    background: transparentize($black-primary, 0.3);
  }
  &-blue {
    border-color: $blue;
  }
  &-indigo {
    border-color: $indigo;
  }
  &-cyan {
    border-color: $cyan;
  }
  &-red {
    border-color: $red;
  }
  &-yellow {
    border-color: $yellow;
  }
  &-pink {
    border-color: $pink;
  }
}