.page-index {
  flex: 1;
  background: url('../img/bg_01.png') no-repeat;
  background-size: cover;
  .weapons-container-wrapper {
    width: 860px;
    margin: 20px auto;
    background: $backpack-bg;

    .header {
      height: 130px;
      background: $black-secondary;
      @include flex-box;
      flex-direction: row;
      flex-wrap: nowrap;
      .profile {
        flex: 4;
        border-right: 1px solid #343E48;
        padding: 30px 20px;
        .image {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 2px solid #fff;
          overflow: hidden;
          display: inline-block;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .details {
          display: inline-block;
          font-size: 12px;
          color: #fff;
          vertical-align: top;
          margin-left: 4px;
          padding: 3px 0;
          h5 {
            margin-bottom: 6px;
          }
          p {
            margin-bottom: 6px;
          }
          .cash-info {
            width: 64px;
            background: #747379;
            padding: 5px 8px;
            border-radius: 4px;
            &:after {
              content: " ";
              display: block;
              clear: both;
            }
            .cash {
              float: left;
            }
            .add {
              color: $success;
              float: right;
            }
          }
        }
      }
      .trade-url {
        flex: 6;
        padding: 40px 20px;
        p {
          font-size: 12px;
          color: #fff;
          margin-bottom: 10px;
        }
        .form-control {
          width: 360px;
          margin-right: 10px;
          background: $black-primary;
          border: 1px solid #343e48;
          padding: 5px;
          border-radius: 4px;
          color: #343e48;
          &:focus, &:active {
            border: 1px solid #343e48;
          }
        }
      }
    }
    .weapons-container {
      @include flex-box;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      padding: 20px;
      .weapon-block {
        width: 100px;
        height: 100px;
        margin: 8px;
        img {
          width: 36%;
          height: 36%;
        }
      }
    }
  }
}