mixin weapon(className)
    .weapon-block(class=className)
        img(src="img/glock.png")
        p P2000
        p Oceanic

.sidebar-left
    - var weapons = ["weapon-block-blue", "weapon-block-yellow", "weapon-block-red", "weapon-block-indigo","weapon-block-cyan", "weapon-block-pink", "weapon-block-blue", "weapon-block-yellow", "weapon-block-red"]
    - for(var i = 0; i < weapons.length; i++)
        +weapon(weapons[i])

