
.sidebar-right
    .header
        //i.fa.fa-angle-right
        p My Backpack
    .backpack-container
        - for (var i = 0; i<9; i++)
            .weapon-block.weapon-block-pink
                .price-info
                    .info Sold
                    .price $21
                img(src="img/glock.png")
                .title
                    p P2000
                    p Oceanic
    .footer
        .value
            p
                span Selected Value
                span.badge $123.00
        .button-group
            button.btn.btn-success SELL
            button.btn.btn-primary Withdraw

