extends layouts/layout

block content

    .page-index
        .weapons-container-wrapper
            .header
                .profile
                    .image
                        img(src="img/avatar.png")
                    .details
                        h5 Name
                        p Last Online: 25 June 2009
                        .cash-info
                            span.cash $0
                            span.add
                                i.fa.fa-plus
                .trade-url
                    p Your Trade URL
                    input.form-control(type="url", placeholder="http://www.your-domain.com")
                    button.btn.btn-success Save
            .weapons-container
                - for(var i = 0; i < 21; i++)
                    .weapon-block.weapon-block-red
                        .price-info
                            .info Sold
                            .price $21
                        img(src="img/glock.png")
                        .title
                            p P2000
                            p Oceanic


