extends layouts/layout

block content

    mixin weapons(className)
        .weapon-block(class=className)
            img(src="img/glock.png")
            .title
                p P2000
                p Oceanic

    mixin nitro-box
        .nitro-box
            .image
                img(src="img/nitro_box.png")
            .details
                p Milspec
                p $0.30


    .page-second
        .nitro-box-preview
            div
                img(src="img/nitro_box.png")
            button.btn.btn-success Open Case $0.30
        .weapons-container-wrapper
            .weapons-container
                - var weapons = ["weapon-block-blue", "weapon-block-yellow", "weapon-block-red","weapon-block-indigo","weapon-block-cyan", "weapon-block-pink", "weapon-block-blue", "weapon-block-yellow", "weapon-block-red"]
                - for(var i = 0; i < weapons.length; i++)
                    +weapons(weapons[i])
        .nitro-box-container
            .title
                p Select a Case
            .nitro-box-list
                - for(var i = 0; i < 3; i++)
                    +nitro-box


