//
   Created by SASi on 11-Aug-16.

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Nitro App
        script(src="//localhost:9000/livereload.js")
        script(src="https://use.fontawesome.com/a4c68642c6.js")
        link(type="text/css", rel="stylesheet", href="css/styles.css")
    body
        .container
            include ../includes/navbar
            include ../includes/sidebar-left

            .container-content-wrapper
                .container-content
                    block content
                    include ../includes/sidebar-right

            include ../includes/footer



