@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

$black-primary: #101823;
$black-secondary: #131D29;
$backpack-bg: #0C131D;

$success: #2AC347;
$primary: #00A0FE;

$blue: #0E93FA;
$indigo: #050AE2;
$cyan: #3EC8AF;
$red: #FF464B;
$yellow: #BAF800;
$pink: #FF01A2;

$text-color-primary: #fff;
$text-color-secondary: #343E48;